
  <label>
    File name
  <input type="text" name="gist[gist_files_attributes][<%= index %>][name]" id='name_0'><br>
</label>

  <textarea name="gist[gist_files_attributes][<%= index %>][body]" id='body_0' rows="8" cols="40" placeholder="Type your text here"></textarea>

